@font-face {
    font-family: "B Roya";
    src: url("/fonts/BRoya.ttf");
}

@font-face {
    font-family: "B Yekan";
    src: url("/fonts/BYekan.ttf");
}

* {
    box-sizing: border-box;
    ::placeholder {
        font-size: calc(0.7rem + 1vw);
        color: rgba(0, 0, 0, 0.493);
    }
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "B Roya";
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    a,
    p {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    padding: 3rem;
    color: black;
    .right-side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .logo {
            display: flex;
            svg {
                width: 4rem;
                height: 4rem;
            }
        }

        ul {
            li {
                a {
                    font-size: 1.3rem;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }

    .left-side {
        .menu-back {
            display: flex;
            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

.background {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    position: fixed;
    background-image: url("/images/poster/poster-6.png");
    filter: opacity(0.2);
}

input {
    font-family: "B Roya";
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 20px;
    border: 0.1rem rgba(0, 0, 0, 0.26) solid;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.308);
    text-align: center;
    direction: ltr;
    &:focus {
        animation: clickAnimation 0.5s forwards;
    }
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 3rem;
    .form-input {
        width: 70%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        direction: rtl;
        border-image-slice: 1;
        padding-bottom: 3rem;

        .right-input {
            display: flex;
            justify-content: center;
            // background-color: rebeccapurple;
        }

        .left-input {
            // background-color: red;
            display: flex;
            justify-content: center;
        }
    }

    .user-password {
        .password {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }

        .user {
            height: max-content;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    input {
        transition-duration: 1s;
        color: white;
        border: none;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.561);
        font-size: calc(1rem + 0.8vw);
        width: 15ch;
        border-radius: 100px;
        padding: 0.8rem;
        &:first-child {
            background: rgba(241, 58, 63, 1);
        }

        &:last-child {
            background: rgba(241, 58, 63, 1);
        }

        &:hover {
            transform: scale(0.9);
        }
    }
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
        transition-duration: 1s;
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        background-color: #921a1c;
        border: 0.1rem gold solid;
        color: white;
    }
}
